histogram_ming
grayscale1_histogram_minr
grayscale2_histogram_ming
grayscale2_histogram_maxr
grayscale1_histogram_minb
grayscale1_histogram_maxb
histogram_minr
grayscale1_histogram_maxr
grayscale2_histogram_minb
grayscale1_histogram_maxg
histogram_maxg
grayscale2_histogram_minr
qr
grayscale2_histogram_maxb
histogram_maxr
histogram_minb
histogram_maxb
grayscale1_histogram_ming
grayscale2_histogram_maxg
